<div class="wrapper">
  <div class="brand-group" routerLink="/">
    <i class="bi bi-list menu link"></i>
    <img src="assets/images/2.svg" alt="" class="logo link">
    <div class="brand-name link">Shopping Store</div>
  </div>
  <div class="search-group">
    <input type="search" class="search-input" placeholder="Search" />
    <div class="search-icon-wrapper link">
      <i class="bi bi-search search-icon"></i>
    </div>
  </div>
  <div class="user-group">
    <i class="bi bi-person user-icon link"></i>
    <div class="cart" routerLink="/cart">
      <i class="bi bi-cart cart-icon link"></i>
      <span class="cart-count">{{ 0 }}</span>
      <span class="cart-total">${{ 0 | number : "1.2-2" }}</span>
    </div>
  </div>
</div>

<div class="mobile-wrapper">
  <div class="search-group mobile">
    <input type="search" class="search-input" placeholder="Search">
    <div class="search-icon-wrapper link">
      <i class="bi bi-search search-icon"></i>
    </div>
  </div>
</div>
