<footer class="wrapper bg-primary text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-2">About Shopping Store</div>
      <div class="col-md-2">Help</div>
      <div class="col-md-2">Privacy Notice</div>
      <div class="col-md-2">Customer Service</div>
      <div class="col-md-2">Terms of Use</div>
      <div class="col-md-2">
        <button class="btn btn-light">
          <i class="bi bi-hand-thumbs-up"></i> Like
        </button>
      </div>
    </div>
  </div>
</footer>

<footer class="wrapper copyright bg-secondary bg-light py-3">
  <div class="container text-center text-primary">
    <p>© {{ year }} Shopping Store. All Rights Reserved.</p>
  </div>
</footer>
